#!/bin/bash

# Run before so that my .zshrc overwrites the default oh-my-zsh one
### ZSH ###

{{ if eq .chezmoi.osRelease.id "debian" }}
  sudo apt update
  sudo apt install zsh -y
{{ else if eq .chezmoi.osRelease.id "arch" }}
  sudo pacman -Syu --noconfirm
  sudo pacman -S zsh --noconfirm
{{end}}

# Oh-my-zsh
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended

# Change default terminal for user using chezmoi
awk -i '{ sub(/\/[a-zA-Z]*$/, "/zsh"); print }' /etc/passwd 

# Update shell
source ~/.zshrc
